mat-grid-tile {
    background: lightblue;
  }

  .example-card {
    max-width: 400px;
  }
  
  .example-header-image1 {
    background-image: url('2019-12-24-17-56-05-208.jpg');
    background-size: cover;
  }
  .example-header-image2 {
    background-image: url('SAVE_20200917_183918.jpg');
    background-size: cover;
  }
  .example-header-image3 {
    background-image: url('20180202172017_IMG_4659.jpg');
    background-size: cover;
  }

  .map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}