


  <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/inside/home">
            <i class="fas fa-house-user"></i>
            Home
            <!-- <span class="sr-only">(current)</span> -->
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/inside/payment">
            <i class="fas fa-cash-register"></i>
            Payment Register
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/inside/contact">
            <i class="fas fa-phone-alt"></i>
            Contact
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item ml-auto" *ngIf="userDetails">
         
        </li>
      </ul>
      <a class="nav-link text-white auto" (click)="openModal(template)" *ngIf="userDetails" >
        <i class="fas fa-user"></i>
        {{userDetails.UserName}}
        <span class="sr-only">(current)</span>
      </a>
      <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
    </div>

  </nav>
  <br><br><br>
 



    <router-outlet></router-outlet>

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Stored payment information gives your constituents a
              quicker and
              easier
              checkout experience! What’s not to love about that? We all love quicker and easier. Think about the old
              saying, Time is Money. Your association’s constituents value their time (don’t we all?). Having a faster
              online checkout process will only make your constituents happier. Happier constituents will most likely
              translate to their return to the association’s website for future purchases</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Company partners</h6>
            <ul class="footer-links">
              <li><a href="https://www.amazon.in/">Amazon</a></li>
              <li><a href="https://www.flipkart.com/">Flipkart</a></li>
              <li><a href="https://www.myntra.com/">Myntra</a></li>
              <li><a href="https://www.ajio.com/">Ajio</a></li>
              
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a routerLink="/inside/home">Home</a></li>
              <li><a routerLink="/inside/payment">Register</a></li>
              <li><a routerLink="/inside/contact">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
         <a href="#">Scanfcode</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>

    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left"><strong class="h1">{{userDetails.FullName | uppercase}}</strong></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="container">
         <div class="row">
           <div class="col-sm-6">
            Username
           </div>
           <div class="col-sm-6">
            : {{userDetails.UserName}}
          </div>
         </div>
         <hr>
         <div class="row">
          <div class="col-sm-6">
            Email
          </div>
          <div class="col-sm-6">
            : {{userDetails.Email}} 
         </div>
        </div>
       </div>
        
        
           
    
      </div>
    </ng-template>
  

